@use 'theme_variables.scss' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-netural-bg;
  color: $color-text-light;
  padding: 0.75rem 1rem;
  border-bottom: .05rem solid $color-neutral-border;

  div.navbar-left {
    display: flex;
    // padding: .5rem 0;

    a.navbar-logo {
      font-size: 1.2rem;
      font-weight: 700;
      color: $color-text-light;
      text-decoration: none;
      margin: 0 0.75rem;
      padding: 0.5rem 1rem;
      transition: color 0.2s ease;

      &.active {
        color: $color-text-light
      }

      &:hover {
        color: $primary-hover;
      }
    }
  }

  .navbar-right {
    display: flex;
    gap: 1rem;

    a.nav-icon-button-link {
      color: $color-text-light;
      text-decoration: none;
      border-radius: 999px;
      padding: 0.5rem 1rem;

      &:hover {
        background: $color-item-hover-bg;
      }

      span.nav-icon-button-content {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        span.nav-icon {
          display: flex;
        }
      }
    }
  }

  button {
    background: $primary-color;
    border: none;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
      background: $primary-hover;
    }
  }
}

