<div class="items-container" infinite-scroll (scrolled)="onScroll()">
  <!-- <button (click)="testPrint()">Test Print</button> -->
  @for (item of items; track item.id) {
    <div class="item-card">
      
      @if (item.tags && item.tags.length > 0) {
        <div class="tag-list">
          @for (tag of item.tags; track $index) {
            <span class="tag-pill">{{ tag }}</span>
          }
        </div>
      }
      @if (item.type === 'link') {
        <blockquote 
              class="twitter-tweet" 
              data-media-max-width="560"
              data-width="450"  >
          <a [href]="item.url">{{ item.url }}</a>
        </blockquote> 
      }
      @if (item.type === 'file') {
        <p>File ID: {{ item.file_id }}</p>
      }
      <div class="card-actions">
        <button class="delete-button" (click)="deleteItem(item)">
          Delete
        </button>
      </div>
    </div>
  }
</div>